*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
font-family: 'Roboto',sans-serif;
}

.container{
    max-width: 80%;
    padding: 34px;
    margin: auto;
}
.container h1,p{
    text-align: center;
    font-family: 'Poppins',cursive;
}
h1{
    font-size: 38px;
}
p{
    font-size: 18px;
}
input,textarea{
    
    border: 2px solid black;
    border-radius: 6px;
    outline: none;
    width:80%;
    margin:11px auto;
    padding:7px;
    font-size: 12px;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.btn{
    color: white;
    background-color: purple;
    padding: 7px 12px;
    font-size: 16px;
    border: 2px solid white;
    border-radius:14px;
cursor: pointer;
}
.bg{
    width: 100%;
    position: absolute;
    z-index: -1;
    opacity:1.2;
}
.submitMsg{
    color: rgb(39, 231, 45);
    font-family:cursive;
}